@font-face {
  font-family: "Minecraftia";
  src: url("fonts/Minecraftia.ttf") format("truetype");
}

body {
  width: 1100px;
  border: 1px solid black;
  padding: 10px;
  font-family: "Minecraftia", monospace, sans-serif;
}
header {
  text-align: end;
}
h1 {
  margin: 5px;
}
p {
  margin: 0;
}
main {
  padding-left: 20px;
  display: flex;
}

.container input {
  border: 2px solid black;
  height: 50px;
  width: 500px;
  margin-bottom: 20px;
  border-radius: none;
}

#divider {
  margin: 25px;
  height: 243px;
  position: relative;
  bottom: 7px;
  border: 1px solid black;
}

.amount-entry {
  display: flex;
  align-items: end;
}

.amount-entry__code {
  border: 3px solid black;
  height: 20px;
  width: 70px;
}

.amount-entry__currency-text {
  position: relative;
  left: 20px;
}

.amount-entry__currency-box {
  border: 3px solid black;
  height: 20px;
  width: 60px;
  margin-left: 20px;
  margin-right: 30px;
}

.amount-entry__amount {
  border: 3px solid black;
  height: 20px;
  width: 310px;
}

.payer-box {
  margin: 5px 0px;
}

.payer-box__payers-acc {
  position: relative;
  border: 3px solid black;
  height: 20px;
  width: 505px;
}

.model-box {
  border: 3px solid black;
  height: 20px;
  width: 50px;
}

.debt-box {
  position: relative;
  left: 17px;
  border: 3px solid black;
  height: 20px;
  width: 417px;
}

.signature-box {
  padding-left: 20px;
}

.signature-box__signature-line {
  width: 300px;
  position: relative;
  right: 390px;
  height: 2px;
  background-color: black;
  border: none;
  margin-bottom: 0px;
}

.place-line {
  position: relative;
  top: 20px;
  right: 150px;
  width: 250px;
  height: 2px;
  background-color: black;
  border: none;
}

.place-text {
  position: relative;
  left: 275px;
  top: 10px;
}

.date-line {
  position: relative;
  bottom: 16px;
  left: 130px;
  width: 150px;
  height: 2px;
  background-color: black;
  border: none;
}

.date-text {
  position: relative;
  bottom: 27px;
  left: 605px;
}

footer {
  position: relative;
  left: 500px;
}
